<div class="container">

    <!--Own clothes-->
    <% @user_clothes.each do |user_clothes| %>
        <div class="container-fluid home-transition">
          <div class="row-fluid">
            <div class="users-clothes-container">
              <%= render partial: 'clothings/clothing', object: user_clothes %>
            </div>
          </div>
        </div>
    <% end %>

    <div class="container-fluid">
      <div class="kerzon-text"><p>These are the clothes you liked: </p></div>
      <div class="kerzon"></div>
    </div>

    <!--Wanted clothes-->
    <div class="container-fluid">
        <% if current_user.user_wanted_clothes.empty? %>
            <%= "You haven't liked any clothes." %>
        <% else %>
          <% current_user.user_wanted_clothes.each do |wanted_clothes|%>
              <%if isArticleOfClothesExists(wanted_clothes.wanted_clothes_id)%>
                  <div class="wanted-clothes-container">
                    <%= render partial: 'clothings/clothing', object: Clothing.find(wanted_clothes.wanted_clothes_id) %>
                  </div>
              <%end%>
          <% end %>
        <% end %>
    </div>
</div>