<!--Other users clothes-->
<div class="container">
    <header>
      <div>Clothes of other users. Check it out.</div>
      <p><small> Each piece of clothes will be added to your dressing room if you liked it. </small></p>
    </header>

    <div class="container-fluid">
      <% @other_users_clothes.each do |piece_of_clothes| %>
          <!--Partial for other users clothes-->
        <%= render partial: 'home/clothes', object: piece_of_clothes %>
      <% end %>
    </div>
</div>