<h1>User Name</h1>
<div class="container">
  <div class="column col-xs-4">
    <p><%= link_to "Add clothing", new_clothing_path %></p>
    <p><%= link_to "Logout", destroy_user_session_path, :method => :delete%></p>
  </div>

  <div class="column col-xs-4">
    <% @user_items.each do |key, value|%>
        <div class="item">
        <%= key %>
        <%= value %>
        </div>
    <%end%>
  </div>

  <div class="column col-xs-4">
  </div>
</div>