<!--Other users clothes-->
  <% @other_users_clothes.each do |item| %>
      <div class="container-fluid home-transition">
        <div class="row-fluid">
          <div class="index-clothes-container">
            <div class="index-clothes-box">
              <div>
                  <span class="label label-info">
                    <%=clothing_name(item)%>
                  </span>
                <ul class="list-group matching-params">
                  <li><%=clothing_size(item)%></li>
                  <li>
                    <label>Want it!
                      <input class="want-it" type="checkbox" value=<%=item.id%> data-user-clothing-id="">
                    </label>
                  </li>
                </ul>
                <%= image_tag clothing_picture(item), size: "200x200", class: "main-image" %>
                    <img class="hidden-img match" src="assets/checkmark.png">
                    </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>