  <% @user_clothing.each do |user_clothing| %>
    <div class="container-fluid">
      <div class="row-fluid">

          <div class="clothing-box">
              <%= render partial: 'clothings/clothing', object: user_clothing %>
          </div>


        <div class="matching-clothing-container">

          <% if user_clothing.matching_clothings.empty? %>
              <div class="matching-clothing-box">
                <span style="color: darkblue">List the most relevant</span>
              </div>
          <%end%>

          <% user_clothing.matching_clothings.each do |match| %>
              <div class="matching-clothing-box">
                <div>
                  <%= image_tag clothing_picture(match), size: "200x200" %>
                </div>
                <button class="btn centerButtons">
                  <%=clothing_name(match)%>
                </button>
              </div>
          <%end%>

        </div>

      </div>
    </div>

  <% end %>
