<h1>Clothes of other users. Check it out.</h1>
<p>Each piece of clothes will be added to your dressing room if you liked it.</p>
<p></p>
<!--Other users clothes-->
<div class="container">
    <div class="container-fluid">
      <% @other_users_clothes.each do |piece_of_clothes| %>
          <!--Partial for other users clothes-->
        <%= render partial: 'home/clothes', object: piece_of_clothes %>
      <% end %>
    </div>
</div>