<h1>Listing Clothing</h1>

  <% @user_clothing.each do |user_clothing| %>
      <%= render partial: 'clothings/clothing', object: user_clothing %>
      <% user_clothing.matching_clothings.each do |match| %>
        <%= match%>
      <%end%>
  <% end %>
<br>
