// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
  margin: 5px;
}

.item img {
  position: relative;
  height: 200px;
  display:inline-block;
}

.item p {
  position: relative;
}
