// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clothing-box {
  position: absolute;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.matching-clothing-box {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
}

.matching-clothing-container {
  display: inline-block;
  position: relative;
  left: 200px;
  margin-left: 2px;
  margin-bottom: 2px;
}

.matching-clothing-box img {
  position: absolute;
  top: 0;
}

.matching-clothing-box button {
  position: absolute;
}

.centerButtons {
  margin: 150px auto auto auto;
}

