//opacity: 0.62;
/* Email: */
#user_email {
   background: #EEE9E9;
   font-size: 12px;
   color: #000000;
   line-height: 18px;
   width: 200px;
 }

#user_password {
  margin: 0 auto;
  background: #F6EAEA;
  font-size: 12px;
  color: #000000;
  line-height: 18px;
  width: 200px;
}

 #sign_in {
    background: #ff5052;
    font-size: 12px;
    color: #FDFDFD;
    line-height: 18px;
    width: 200px;
}

 input {
   padding: 0;
   border: 0;
 }

/* Registration: */
#user_password_confirmation {
  margin: 0 auto;
  background: #F6EAEA;
  font-family: Helvetica;
  font-size: 12px;
  color: #000000;
  line-height: 18px;
  width: 200px;
}

#sign_up {
  background: #F3BDBD;
  font-family: Helvetica;
  font-size: 12px;
  color: #FDFDFD;
  line-height: 18px;
  width: 200px;
}
